$white: #ffffff;
.text-white { color: $white; }
.bg-white { background-color: $white; }

$black: #000000;
.text-black { color: $black; }
.bg-black { background-color: $black; }

$darkgreen: #01484c;
.text-darkgreen { color: $darkgreen; }
.bg-darkgreen { background-color: $darkgreen; }

$blue: #35859a;
.text-blue { color: $blue; }
.bg-blue { background-color: $blue; }

$red: #ff0000;
.text-red { color: $red }
.bg-red { background-color: $red }

$purple: #7E3E98;
.text-purple { color: $purple }
.bg-purple { background-color: $purple }
