
footer {
  .bg-darkgreen { min-height: 24px; }
  .braveco-logo { 
    background-image: url("/public/images/braveco_logo.jpg"); 
    background-position-x: left;
    background-position-y: top;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
    @media screen and (max-width: 767px) { 
      min-height: 50px; 
      background-position-x: center;
    }
  }
  .p-l-13 { padding-left: 13px; }
  i { 
    line-height: unset !important; 
    color: $black;
    padding-right: 1em;
  }
  p { 
    @media screen and (max-width: 767px) { padding-top: 10px; } 
  }
  @media screen and (max-width: 575px) { 
    i {
      background-color: $black;
      color: $purple;
      font-size: 35px;
      padding-right: 0px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 60px !important;
      vertical-align: top;
      margin: 10px 5px 10px;
      &.fa-phone { font-size: 30px; }
    }
    .hidden-xs { display: none; }
  } 
}