.navbar {
  position: sticky !important;
  top: 0;
  z-index: 1071;
  padding-top: 0px;
  background-color: $white;
  @media screen and (max-width: 767px) { 
    padding-left: 0px !important;
    padding-right: 0px !important;
    .navbar-toggler { 
      margin-left: 15px; 
      z-index: 1020;
      margin-top: -5px;
      margin-bottom: 5px;
    }
    .navbar-nav { margin-top: 20px; }
  }
  img {
    height: 50px;
    position: absolute;
    top: 16px;
    left: calc(50% - 91px);
    @media screen and (max-width: 767px) { top: 10px; }
  }
  .nav-link {
    padding: 8px !important;
    &.contact { 
      padding: 8px 10px !important;
      @media screen and (max-width: 767px) { display: block !important; }
    }
    &.home {
      height: 64px;
      width: 60px;
      padding-top: 16px !important;
    }
  }
}