.hero-image-contianer {
  background-color: #E0E5F1;
  padding-top: 15px;
  padding-right: 0 !important;
  .hero-image {
    margin-top: -82px;
    background-image: url("/public/images/hero.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    height: 469px;
    @media screen and (max-width: 767px) { height: 200px; }
  }
}

#machine, #industry, #environment { 
  border-bottom: 1px solid $red;
  padding: 0px !important;
  line-height: 30px !important;
  font-weight: 700;
}

@media screen and (max-width: 767px) { 
  .environment-container,.machine-container { 
    padding-left: 0px !important; 
    padding-right: 0px !important; 
  }
}
@media screen and (min-width: 768px) { 
  .hidden-sm-up { display: none; }
}

