.css-grid {
    line-height: 200px;
    display: grid;
    grid: 200px / repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
    padding-top: 3em;
    @media screen and (max-width: 576px) { 
        grid: 100px / repeat(4, 1fr); 
        padding-top: 0px;
    }
    &-cell {
        line-height: 200px;
        @media screen and (max-width: 576px) { line-height: 100px; }
        display: flex;
        align-items: center;
        img { 
          max-width: 100%; 
          width: 100%;
        }
        &:nth-child(1) {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }
        &:nth-child(2) {
            grid-row: 1 / span 2;
            grid-column: 3 / span 2;
            align-items: baseline;
        }
        &:nth-child(4) {
            grid-row: 3 / span 1;
            grid-column: 2 / span 2;
            align-items: flex-start;
        }
        &:nth-child(6) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
            align-items: flex-start;
            margin-top: -63%;
        }
        &:nth-child(7) {
            grid-row: 4 / span 1;
            grid-column: 3 / span 1;
            align-items: flex-start;
            margin-top: -63%;
        }
    }
}

.css-grid-2 {
    line-height: 200px;
    display: grid;
    grid: 200px / repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
    padding-top: 3em;
    @media screen and (max-width: 576px) { 
        grid: 70px / repeat(3, 1fr);
        padding-top: 0px;
    }
    &-cell {
        line-height: 200px;
        @media screen and (max-width: 576px) { line-height: 70px; }
        display: flex;
        align-items: flex-start;
        img { 
          max-width: 100%; 
          width: 100%;
          
        }
        &:nth-child(3) {
            grid-row: 1 / span 2;
            grid-column: 3 / span 1;
        }
        &:nth-child(4) {
            grid-row: 2 / span 1;
            grid-column: 1 / span 2;
        }
        &:nth-child(5) {
            grid-row: 2/span 1;
            grid-column: 3/span 1;
            align-items: flex-end;
        }
    }
}