
.page {
  table {
    td { 
      text-align: center;
      border: 1px solid $black; 
      padding-left: 0px !important;
      padding-right: 0px !important;
      &.px-1 {
        padding-left: 1em !important;
        padding-right: 1em !important;
      }
    }
    .seven-pc { width: 7%; }
    .ten-pc { width: 10%; }
  } 
  @media screen and (max-width: 992px) {
    .table-container {
      height: 1000px;
      table {
        transform: rotate(-90deg);
        margin-top: 300px;
        margin-left: -100px;
        .xs-175wide-px { min-width: 175px !important; }
        .xs-200wide-px { min-width: 200px !important; }
        .seven-pc { min-width: 45px !important; }
        .ten-pc { min-width: 65px !important; }
        
      }
    }
  }
  @media screen and (max-width: 767px) {
    .table-container > table { 
      margin-left: -325px; 
      margin-top: 350px;
      td { 
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
    }
  }

  .image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
  }
  .page-02a { background-image: url("/public/images/Page02a.png"); }
  .page-03a { 
    background-image: url("/public/images/Page03a.png"); 
    @media screen and (max-width: 768px) { 
      height: 400px; 
      background-size: cover;
    }
  }
  .page-03b { 
    background-image: url("/public/images/Page03b.png"); 
    background-size: cover;
  }
  .page-03c { 
    background-image: url("/public/images/Page03c.png"); 
    background-size: cover;
  }
  .page-04a { 
    background-image: url("/public/images/Page04a.png"); 
    width: 500px;
    height: 300px;
    background-position-y: top;
    @media screen and (max-width: 768px) { height: 250px; }
  }
  .page-04b { 
    background-image: url("/public/images/Page04b.png"); 
    height: 275px;
    left: 50px;
    bottom: -285%;
    z-index: 1;
    @media screen and (max-width: 992px) { display: none !important; }
  }
  .page-04c { 
    background-image: url("/public/images/Page04c.png"); 
    left: 0px;
    top: 0px;
    height: 350px;
    width: 275px;
    z-index: 1;
    @media screen and (max-width: 992px) { display: none !important; }
  }
  .page-04d { 
    background-image: url("/public/images/Page04d.png"); 
    left: 40%;
    bottom: -420%;
    height: 350px;
    width: 275px;
    z-index: 1;
    @media screen and (max-width: 992px) { display: none !important; }
  }
  .page-05a { background-image: url("/public/images/Page05a.png"); }
  .page-06a-container {
    padding-top: 5em; 
    @media screen and (max-width: 991px) { padding-top: 2em;; }
    @media screen and (max-width: 767px) { padding-top: 0px; }
  }
  .page-06a { 
    background-image: url("/public/images/Page06a.png"); 
    margin-left: -50px;
    margin-top: -30%;
    z-index: 1;
    height: 400px;
    @media screen and (max-width: 767px) { 
      position: relative !important;
      margin: 0 !important;
      height: 200px;
    }
  }
  .page-06b { 
    background-image: url("/public/images/Page06b.png"); 
    height: 475px;
    @media screen and (max-width: 767px) { height: 200px; }
  }
  .page-07a { 
    background-image: url("/public/images/Page07a.png"); 
    height: 300px;
    @media screen and (max-width: 768px) { height: 200px; }
  }
  .page-08a { 
    background-image: url("/public/images/Page08a.png"); 
    background-position-y: top;
    background-size: cover;
  }
  .page-08b { 
    background-image: url("/public/images/Page08b.png"); 
    background-position-y: top;
    background-size: cover;
    width: 65%;
    display: inline-block;
  }
  .page-08c { 
    background-image: url("/public/images/Page08c.png"); 
    background-position-y: top;
    background-size: cover;
    width: 35%;
    display: inline-block;
  }
  .page-09a { background-image: url("/public/images/Page09a.png"); }
  .page-09b { background-image: url("/public/images/Page09b.png"); }
  .page-09c { background-image: url("/public/images/Page09c.png"); }
  .page-09d { background-image: url("/public/images/Page09d.png"); }
  .page-09e { background-image: url("/public/images/Page09e.png"); }
  .page-09f { background-image: url("/public/images/Page09f.png"); }
  .page-09g { background-image: url("/public/images/Page09g.png"); }
  
  .page-09a,.page-09b,.page-09c,.page-09d,.page-09e,.page-09f {
    background-size: cover;
    @media screen and (max-width: 768px) { min-height: 150px; }
    @media screen and (max-width: 767px) { min-height: 100px; }
  }
  
  .page-10a { 
    background-image: url("/public/images/Page10a.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 300px; }
    @media screen and (max-width: 767px) { height: 200px; }
  }
  .page-11a { 
    background-image: url("/public/images/Page11a.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 200px; }
  }
  .page-11b { 
    background-image: url("/public/images/Page11b.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 200px; }
  }
  .page-12a { 
    background-image: url("/public/images/Page12a.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 200px; }
  }
  .page-13a { 
    background-image: url("/public/images/Page13a.png"); 
    background-position-y: top;
    @media screen and (max-width: 767px) { display: none; }
  }
  .page-13b { 
    background-image: url("/public/images/Page13b.png"); 
    position: absolute;
    margin-top: -90px;
    min-height: 100px;
    @media screen and (max-width: 767px) { display: none; }
  }
  .page-14a { 
    background-image: url("/public/images/Page14a.png"); 
    height: 400px;
    @media screen and (max-width: 767px) { height: 200px; }
  }
  .page-15a { 
    background-image: url("/public/images/Page15a.png"); 
    @media screen and (max-width: 767px) { height: 100px; }
  }
  .page-15b { background-image: url("/public/images/Page15b.png"); }
  .page-15c { 
    background-image: url("/public/images/Page15c.png"); 
    height: 400px;
    @media screen and (max-width: 767px) { height: 200px; }
  }
  .page-16a { 
    background-image: url("/public/images/Page16a.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 300px; }
    @media screen and (max-width: 767px) { 
      height: 200px; 
    }
  }
  .page-16b { 
    background-image: url("/public/images/Page16b.png"); 
    height: 400px;
    @media screen and (max-width: 768px) { height: 300px; }
    @media screen and (max-width: 767px) { 
      height: 200px; 
    }
  }
  .page-16 {
    &__top-text {
      margin-bottom: -130px;
      padding: 40px 0px;
      @media screen and (max-width: 767px) { 
        margin-bottom: -90px; 
        padding-top: 20px;
      }   
    }
    &__bottom-text {
      margin-top: -100px;
      left: 24%;
      width: 50%;
      position: absolute;
      @media screen and (max-width: 768px) { 
        margin-top: -90px;
        left: 21%;
        width: 55%;
      }
      @media screen and (max-width: 767px) { 
        position: relative;
        margin-top: 0px;
        width: auto;
        text-align: left;
        left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 767px) { 
  // .page-16 { padding-bottom: 50px; }
}
