.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.text-darkgreen {
  color: #01484c;
}

.bg-darkgreen {
  background-color: #01484c;
}

.text-blue {
  color: #35859a;
}

.bg-blue {
  background-color: #35859a;
}

.text-red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.text-purple {
  color: #7E3E98;
}

.bg-purple {
  background-color: #7E3E98;
}

h1 {
  line-height: 50px !important;
  font-size: 25px !important;
}

main, p, div, span {
  font-family: "Montserrat", sans-serif;
}

.red-underline {
  border-bottom: 1px solid #ff0000;
}

.navbar {
  position: sticky !important;
  top: 0;
  z-index: 1071;
  padding-top: 0px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar .navbar-toggler {
    margin-left: 15px;
    z-index: 1020;
    margin-top: -5px;
    margin-bottom: 5px;
  }
  .navbar .navbar-nav {
    margin-top: 20px;
  }
}
.navbar img {
  height: 50px;
  position: absolute;
  top: 16px;
  left: calc(50% - 91px);
}
@media screen and (max-width: 767px) {
  .navbar img {
    top: 10px;
  }
}
.navbar .nav-link {
  padding: 8px !important;
}
.navbar .nav-link.contact {
  padding: 8px 10px !important;
}
@media screen and (max-width: 767px) {
  .navbar .nav-link.contact {
    display: block !important;
  }
}
.navbar .nav-link.home {
  height: 64px;
  width: 60px;
  padding-top: 16px !important;
}

footer .bg-darkgreen {
  min-height: 24px;
}
footer .braveco-logo {
  background-image: url("/public/images/braveco_logo.jpg");
  background-position-x: left;
  background-position-y: top;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100px;
}
@media screen and (max-width: 767px) {
  footer .braveco-logo {
    min-height: 50px;
    background-position-x: center;
  }
}
footer .p-l-13 {
  padding-left: 13px;
}
footer i {
  line-height: unset !important;
  color: #000000;
  padding-right: 1em;
}
@media screen and (max-width: 767px) {
  footer p {
    padding-top: 10px;
  }
}
@media screen and (max-width: 575px) {
  footer i {
    background-color: #000000;
    color: #7E3E98;
    font-size: 35px;
    padding-right: 0px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    vertical-align: top;
    margin: 10px 5px 10px;
  }
  footer i.fa-phone {
    font-size: 30px;
  }
  footer .hidden-xs {
    display: none;
  }
}

.contact-page {
  min-height: calc(100vh - 300px);
}

.hero-image-contianer {
  background-color: #E0E5F1;
  padding-top: 15px;
  padding-right: 0 !important;
}
.hero-image-contianer .hero-image {
  margin-top: -82px;
  background-image: url("/public/images/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  height: 469px;
}
@media screen and (max-width: 767px) {
  .hero-image-contianer .hero-image {
    height: 200px;
  }
}

#machine, #industry, #environment {
  border-bottom: 1px solid #ff0000;
  padding: 0px !important;
  line-height: 30px !important;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .environment-container, .machine-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-sm-up {
    display: none;
  }
}
.css-grid {
  line-height: 200px;
  display: grid;
  grid: 200px/repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
  padding-top: 3em;
}
@media screen and (max-width: 576px) {
  .css-grid {
    grid: 100px/repeat(4, 1fr);
    padding-top: 0px;
  }
}
.css-grid-cell {
  line-height: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .css-grid-cell {
    line-height: 100px;
  }
}
.css-grid-cell img {
  max-width: 100%;
  width: 100%;
}
.css-grid-cell:nth-child(1) {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.css-grid-cell:nth-child(2) {
  grid-row: 1/span 2;
  grid-column: 3/span 2;
  align-items: baseline;
}
.css-grid-cell:nth-child(4) {
  grid-row: 3/span 1;
  grid-column: 2/span 2;
  align-items: flex-start;
}
.css-grid-cell:nth-child(6) {
  grid-row: 4/span 1;
  grid-column: 2/span 1;
  align-items: flex-start;
  margin-top: -63%;
}
.css-grid-cell:nth-child(7) {
  grid-row: 4/span 1;
  grid-column: 3/span 1;
  align-items: flex-start;
  margin-top: -63%;
}

.css-grid-2 {
  line-height: 200px;
  display: grid;
  grid: 200px/repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
  padding-top: 3em;
}
@media screen and (max-width: 576px) {
  .css-grid-2 {
    grid: 70px/repeat(3, 1fr);
    padding-top: 0px;
  }
}
.css-grid-2-cell {
  line-height: 200px;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  .css-grid-2-cell {
    line-height: 70px;
  }
}
.css-grid-2-cell img {
  max-width: 100%;
  width: 100%;
}
.css-grid-2-cell:nth-child(3) {
  grid-row: 1/span 2;
  grid-column: 3/span 1;
}
.css-grid-2-cell:nth-child(4) {
  grid-row: 2/span 1;
  grid-column: 1/span 2;
}
.css-grid-2-cell:nth-child(5) {
  grid-row: 2/span 1;
  grid-column: 3/span 1;
  align-items: flex-end;
}

.page table td {
  text-align: center;
  border: 1px solid #000000;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.page table td.px-1 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.page table .seven-pc {
  width: 7%;
}
.page table .ten-pc {
  width: 10%;
}
@media screen and (max-width: 992px) {
  .page .table-container {
    height: 1000px;
  }
  .page .table-container table {
    transform: rotate(-90deg);
    margin-top: 300px;
    margin-left: -100px;
  }
  .page .table-container table .xs-175wide-px {
    min-width: 175px !important;
  }
  .page .table-container table .xs-200wide-px {
    min-width: 200px !important;
  }
  .page .table-container table .seven-pc {
    min-width: 45px !important;
  }
  .page .table-container table .ten-pc {
    min-width: 65px !important;
  }
}
@media screen and (max-width: 767px) {
  .page .table-container > table {
    margin-left: -325px;
    margin-top: 350px;
  }
  .page .table-container > table td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.page .image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}
.page .page-02a {
  background-image: url("/public/images/Page02a.png");
}
.page .page-03a {
  background-image: url("/public/images/Page03a.png");
}
@media screen and (max-width: 768px) {
  .page .page-03a {
    height: 400px;
    background-size: cover;
  }
}
.page .page-03b {
  background-image: url("/public/images/Page03b.png");
  background-size: cover;
}
.page .page-03c {
  background-image: url("/public/images/Page03c.png");
  background-size: cover;
}
.page .page-04a {
  background-image: url("/public/images/Page04a.png");
  width: 500px;
  height: 300px;
  background-position-y: top;
}
@media screen and (max-width: 768px) {
  .page .page-04a {
    height: 250px;
  }
}
.page .page-04b {
  background-image: url("/public/images/Page04b.png");
  height: 275px;
  left: 50px;
  bottom: -285%;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .page .page-04b {
    display: none !important;
  }
}
.page .page-04c {
  background-image: url("/public/images/Page04c.png");
  left: 0px;
  top: 0px;
  height: 350px;
  width: 275px;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .page .page-04c {
    display: none !important;
  }
}
.page .page-04d {
  background-image: url("/public/images/Page04d.png");
  left: 40%;
  bottom: -420%;
  height: 350px;
  width: 275px;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .page .page-04d {
    display: none !important;
  }
}
.page .page-05a {
  background-image: url("/public/images/Page05a.png");
}
.page .page-06a-container {
  padding-top: 5em;
}
@media screen and (max-width: 991px) {
  .page .page-06a-container {
    padding-top: 2em;
  }
}
@media screen and (max-width: 767px) {
  .page .page-06a-container {
    padding-top: 0px;
  }
}
.page .page-06a {
  background-image: url("/public/images/Page06a.png");
  margin-left: -50px;
  margin-top: -30%;
  z-index: 1;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .page .page-06a {
    position: relative !important;
    margin: 0 !important;
    height: 200px;
  }
}
.page .page-06b {
  background-image: url("/public/images/Page06b.png");
  height: 475px;
}
@media screen and (max-width: 767px) {
  .page .page-06b {
    height: 200px;
  }
}
.page .page-07a {
  background-image: url("/public/images/Page07a.png");
  height: 300px;
}
@media screen and (max-width: 768px) {
  .page .page-07a {
    height: 200px;
  }
}
.page .page-08a {
  background-image: url("/public/images/Page08a.png");
  background-position-y: top;
  background-size: cover;
}
.page .page-08b {
  background-image: url("/public/images/Page08b.png");
  background-position-y: top;
  background-size: cover;
  width: 65%;
  display: inline-block;
}
.page .page-08c {
  background-image: url("/public/images/Page08c.png");
  background-position-y: top;
  background-size: cover;
  width: 35%;
  display: inline-block;
}
.page .page-09a {
  background-image: url("/public/images/Page09a.png");
}
.page .page-09b {
  background-image: url("/public/images/Page09b.png");
}
.page .page-09c {
  background-image: url("/public/images/Page09c.png");
}
.page .page-09d {
  background-image: url("/public/images/Page09d.png");
}
.page .page-09e {
  background-image: url("/public/images/Page09e.png");
}
.page .page-09f {
  background-image: url("/public/images/Page09f.png");
}
.page .page-09g {
  background-image: url("/public/images/Page09g.png");
}
.page .page-09a, .page .page-09b, .page .page-09c, .page .page-09d, .page .page-09e, .page .page-09f {
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .page .page-09a, .page .page-09b, .page .page-09c, .page .page-09d, .page .page-09e, .page .page-09f {
    min-height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .page .page-09a, .page .page-09b, .page .page-09c, .page .page-09d, .page .page-09e, .page .page-09f {
    min-height: 100px;
  }
}
.page .page-10a {
  background-image: url("/public/images/Page10a.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-10a {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .page .page-10a {
    height: 200px;
  }
}
.page .page-11a {
  background-image: url("/public/images/Page11a.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-11a {
    height: 200px;
  }
}
.page .page-11b {
  background-image: url("/public/images/Page11b.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-11b {
    height: 200px;
  }
}
.page .page-12a {
  background-image: url("/public/images/Page12a.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-12a {
    height: 200px;
  }
}
.page .page-13a {
  background-image: url("/public/images/Page13a.png");
  background-position-y: top;
}
@media screen and (max-width: 767px) {
  .page .page-13a {
    display: none;
  }
}
.page .page-13b {
  background-image: url("/public/images/Page13b.png");
  position: absolute;
  margin-top: -90px;
  min-height: 100px;
}
@media screen and (max-width: 767px) {
  .page .page-13b {
    display: none;
  }
}
.page .page-14a {
  background-image: url("/public/images/Page14a.png");
  height: 400px;
}
@media screen and (max-width: 767px) {
  .page .page-14a {
    height: 200px;
  }
}
.page .page-15a {
  background-image: url("/public/images/Page15a.png");
}
@media screen and (max-width: 767px) {
  .page .page-15a {
    height: 100px;
  }
}
.page .page-15b {
  background-image: url("/public/images/Page15b.png");
}
.page .page-15c {
  background-image: url("/public/images/Page15c.png");
  height: 400px;
}
@media screen and (max-width: 767px) {
  .page .page-15c {
    height: 200px;
  }
}
.page .page-16a {
  background-image: url("/public/images/Page16a.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-16a {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .page .page-16a {
    height: 200px;
  }
}
.page .page-16b {
  background-image: url("/public/images/Page16b.png");
  height: 400px;
}
@media screen and (max-width: 768px) {
  .page .page-16b {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .page .page-16b {
    height: 200px;
  }
}
.page .page-16__top-text {
  margin-bottom: -130px;
  padding: 40px 0px;
}
@media screen and (max-width: 767px) {
  .page .page-16__top-text {
    margin-bottom: -90px;
    padding-top: 20px;
  }
}
.page .page-16__bottom-text {
  margin-top: -100px;
  left: 24%;
  width: 50%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .page .page-16__bottom-text {
    margin-top: -90px;
    left: 21%;
    width: 55%;
  }
}
@media screen and (max-width: 767px) {
  .page .page-16__bottom-text {
    position: relative;
    margin-top: 0px;
    width: auto;
    text-align: left;
    left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=app.css.map */
